<div class="header">
    <div class="row">
        <div class="col-10">
            <h1 class="page-title" style="color:#b0341e !important;"><a class="icon circle-icon fa fa-remove trigger-message-close"></a>
                ERROR
            </h1>
        </div>
        <div class="col-2 text-right">
            &nbsp;
        </div>
    </div>
</div>
<div class="messageFly-nano-wrapper nano">
    <div class="nano-content subScroll">
        <div class="message-container">
            <div class="row">
                <div class="col-12">
                    <div class="message-box">
                        <div class="row">
                            <div class="col-12">
                                <span class="badge badge-danger">Page not found</span>
                                <br />
                                (ID: {{ id }})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>